.no-wrap,
table.no-wrap th,
table.no-wrap td {
  white-space: pre;
}

.min-width {
  /* width: min-content; */
  width: .1ch;
}

pre,
code,
p.monospace {
  display: block;
  max-width: 100%;
  overflow-x: auto;
}

pre,
code,
kbd,
tt,
var,
.monospace,
.trader-number {
  font-family: 'Lucida Console', Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  white-space: pre;
}

.trader-number {
  text-align: right;
  white-space: pre;
}

table tr.trader-number th,
table tr.trader-number td,
table th.trader-number,
table td.trader-number {
  width: .1ch;
}

form .form-row {
  display: inline-block;
  clear: both;
}

form .form-row-first,
form .form-row-last {
  width: calc(50% - 10px);
  overflow: visible;
}

form .form-row-first {
  /* float: left; */
}

form .form-row-last {
  float: right;
}

form .form-row-wide {
  width: 100%;
}

button.trader-danger-zone,
html input[type="button"].trader-danger-zone,
input[type="reset"].trader-danger-zone,
input[type="submit"].trader-danger-zone,
a.button.trader-danger-zone,
a.wp-block-button__link.trader-danger-zone {
  color: #f85149;
  border-color: #cc2900 !important;
}

button.trader-danger-zone:hover,
button.trader-danger-zone:focus,
html input[type="button"].trader-danger-zone:hover,
html input[type="button"].trader-danger-zone:focus,
input[type="reset"].trader-danger-zone:hover,
input[type="reset"].trader-danger-zone:focus,
input[type="submit"].trader-danger-zone:hover,
input[type="submit"].trader-danger-zone:focus,
a.button.trader-danger-zone:hover,
a.button.trader-danger-zone:focus,
a.wp-block-button__link.trader-danger-zone:hover,
a.wp-block-button__link.trader-danger-zone:focus,
a.wp-block-button__link.trader-danger-zone:active {
  color: #fff;
  background-color: #cc2900;
}